<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1001756335177-0qufu482o0ljbo3m2e8qf7n2v3rlvpuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1001756335177-0qufu482o0ljbo3m2e8qf7n2v3rlvpuc</string>
	<key>API_KEY</key>
	<string>AIzaSyA31NZ0jecLyIqYVTdHtiaDG6rd_1lsNiA</string>
	<key>GCM_SENDER_ID</key>
	<string>1001756335177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WagenerGames.Nexon</string>
	<key>PROJECT_ID</key>
	<string>nexon-game</string>
	<key>STORAGE_BUCKET</key>
	<string>nexon-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1001756335177:ios:91f725eea0af0a42</string>
	<key>DATABASE_URL</key>
	<string>https://nexon-game.firebaseio.com</string>
</dict>
</plist>